:root {
	--background-primary: #36393f;
	--background-secondary: #2f3136;
	--background-tertiary: #202225;
	--background-quaternary: #42464d;
	--background-quinary: #292b2f;
	--background-sextary: #18191c;
	--primary: #5865f2;
	--secondary: #4f545c;
	--link: #4f545c;
	--danger: #d83c3e;
	--success: #3ba55c;
	--url: #18aff4;
}