<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<title>Frame</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	<link href='../styles/style.css' rel='stylesheet'>
	<link href='../styles/output.css' rel='stylesheet'>
	<script>var exports = {};setTimeout(() => { for(let i = 0; i < 10; i++) { console.log(`%c(${i}) DO NOT PASTE ANYTHING HERE`, 'color:#5468ff;font-size:1.5rem;text-weight:bolder;'); } }, 1000);</script>
</head>

<body class='flex flex-col box-border w-screen h-screen'>
	<div class='flex flex-row flex-nowrap bg-half-tertiary w-full h-[1.4rem] items-center select-none font-sans'>
		<div id='frame-free' class='flex flex-row flex-nowrap w-full h-full items-center'>
			<span class='px-[0.5rem] whitespace-nowrap text-white text-opacity-40 font-extrabold text-[0.75rem]'>Rex Aliis</span>
		</div>
		<button id='minimize' class='pt-[0.1rem] text-[0.9rem] box-border px-[0.5rem] outline-none text-white text-opacity-60 transition-colors duration-100 hover:bg-half-primary-hover hover:text-opacity-100 active:bg-half-primary-active'>─</button>
		<button id='maximize' class='text-[0.9rem] box-border px-[0.5rem] outline-none text-white text-opacity-60 transition-colors duration-100 hover:bg-half-primary-hover hover:text-opacity-100 active:bg-half-primary-active'>🗖</button>
		<button id='close' class='pt-[0.1rem] text-[0.9rem] box-border px-[0.5rem] outline-none text-white text-opacity-60 transition-colors duration-100 hover:bg-danger hover:text-opacity-100'>✕</button>
	</div>
	<div class='flex flex-row box-border w-full h-full font-poppins text-white select-none'>
		<header id='menu' class='h-full min-w-[20rem] p-[2rem] flex flex-col gap-y-[0.5rem] box-border bg-half-secondary'>
			<div class='flex flex-row py-[0.5rem] gap-x-[0.5rem] font-semibold self-center'>
				<img src='../assets/discord1.svg' class='h-[1.25rem]'>
				<span class='tracking-wide'>ALIIS RPC MAKER</span>
			</div>
			<nav class='w-full flex flex-col gap-y-[0.5rem]'>
				<button id='menu-presences' class='flex flex-row box-border p-[0.5rem] gap-x-[0.5rem] w-full outline-none cursor-pointer text-white text-opacity-80 font-light rounded transition-[color] duration-200 hover:text-opacity-100'>
					<svg viewBox="0 0 24 24" class="icon-1qHBsr" width="24" height="24" color="currentColor"><path fill="currentColor" d="M14,17H7v-2h7V17z M17,13H7v-2h10V13z M17,9H7V7h10V9z M19,3H5C3.9,3,3,3.9,3,5v14c0,1.1,0.9,2,2,2h14 c1.1,0,2-0.9,2-2V5C21,3.9,20.1,3,19,3z"></path></svg>
					Presences
				</button>
				<button id='menu-settings' class='flex flex-row box-border p-[0.5rem] gap-x-[0.5rem] w-full outline-none cursor-pointer text-white text-opacity-80 font-light rounded transition-[color] duration-200 hover:text-opacity-100'>
					<svg viewBox="0 0 24 24" name="Fingerprint" class="icon-1qHBsr" width="24" height="24" color="currentColor"><path fill="currentColor" d="M22.7,19l-9.1-9.1c0.9-2.3,0.4-5-1.5-6.9c-2-2-5-2.4-7.4-1.3L9,6L6,9L1.6,4.7c-1.2,2.4-0.7,5.4,1.3,7.4 c1.9,1.9,4.6,2.4,6.9,1.5l9.1,9.1c0.4,0.4,1,0.4,1.4,0l2.3-2.3C23.1,20,23.1,19.3,22.7,19L22.7,19z"></path></svg>
					Settings
				</button>
				<button id='menu-documentation' class='flex flex-row box-border p-[0.5rem] gap-x-[0.5rem] w-full outline-none cursor-pointer text-white text-opacity-80 font-light rounded transition-[color] duration-200 hover:text-opacity-100'>
					<svg width="20" height="20" class="DocSearch-Search-Icon" viewBox="0 0 20 20"><path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path></svg>
					Documentation
				</button>
			</nav>
			<div id='menu-playing' class='w-full p-[1rem] mt-[1rem] bg-half-tertiary rounded-md overflow-x-hidden transition-opacity duration-300'>
				<div class='flex flex-row flex-nowrap gap-x-[0.5rem]'>
					<div class='flex flex-col flex-nowrap'>
						<h1 id='menu-playing-name' class='font-semibold truncate max-w-[10rem]'>Nothing</h1>
						<p id='menu-playing-status' class='text-[0.8rem] font-light text-white text-opacity-60'>Waiting</p>
					</div>
					<img id='menu-playing-image' src='../assets/discord0.ico' class='float-right w-[3rem] ml-auto aspect-square object-cover rounded-md'>
				</div>
				<div id='menu-playing-select' class='mt-[0.5rem]'>
					<button class='flex flex-row flex-nowrap w-full p-[0.5rem] rounded border-half-quinary focus:border-b-0 focus:rounded-b-none border-[0.1rem] bg-half-sextenary hover:bg-half-secondary focus:bg-half-primary text-sm text-white text-opacity-90 cursor-pointer transition-colors duration-100'>
						<span>Select Presence</span>
						<svg style='fill: currentColor;' class='ml-auto self-center' height="20" width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="css-19bqh2r"><path d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z"></path></svg>
					</button>
					<div id='menu-playing-select-list' class='!hidden w-[14rem] max-h-[10rem] absolute flex flex-col flex-nowrap rounded-b border-x-half-quinary border-b-half-quinary border-x-[0.1rem] border-b-[0.1rem] overflow-y-scroll'></div>
				</div>
				<div id='menu-playing-buttons' class='!hidden flex flex-row flex-nowrap gap-[0.5rem] mt-[1rem]'>
					<button id='menu-playing-pause' class='w-full px-[1.2rem] py-[0.4rem] font-medium rounded transition-all duration-200 text-xs bg-secondary hover:bg-primary-hover active:bg-primary-active'>Pause</button>
					<button id='menu-playing-stop' class='w-full px-[1.2rem] py-[0.4rem] font-medium rounded transition-all duration-200 text-xs bg-danger hover:bg-danger-hover active:bg-danger-active'>Stop</button>
				</div>
			</div>
		</header>
		<webview id='webview' class='h-full w-full bg-half-tertiary' nodeIntegration webpreferences='contextIsolation=false, javascript=true'></webview>
	</div>
	<script type='module' src='../scripts/frame.js'></script>
	<script type='module' src='../scripts/menu.js'></script>
	<script src='../scripts/menu-playing.js'></script>
</body>