<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<title>Presences</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	<link href='../styles/style.css' rel='stylesheet'>
	<link href='../styles/output.css' rel='stylesheet'>
	<script>var exports = {};</script>
</head>

<body class='h-screen w-screen flex flex-row overflow-x-hidden bg-half-primary font-poppins text-white select-none'>
	<div id='main' class='h-full w-full p-[2rem] box-border overflow-y-scroll bg-half-primary'>
		<!--TODO no discord => disable start presence-->
		<div class='flex flex-row items-center'>
			<h1 class='w-full text-[2rem] font-semibold'>Presences</h1>
			<button id='presences-new' class='min-w-max float-right px-[1.25rem] py-[0.5rem] rounded outline-none text-sm bg-primary transition-colors duration-200 hover:bg-primary-hover active:bg-primary-active'>New Presence</button>
		</div>
		<p class='text-white text-opacity-60 font-light'>Presences are the best way to show what are you doing!</p>
		<h2 class='text-[1.5rem] font-medium my-[1rem]'>My Presences</h2>
		<!--TODO Add list style selection & row-col style-->
		<div id='presences-list' class='flex flex-row flex-wrap gap-[1rem]'></div>
	</div>
	<div id='presences-new-frame' class='!hidden h-screen w-screen absolute top-0 left-0 flex flex-row bg-[#000000C0]'>
		<div class='presences-new-close w-full h-full'></div>
		<div class='flex flex-col h-full'>
			<div class='presences-new-close w-full h-full'></div>
			<div class='m-auto w-[28rem] flex flex-col'>
				<div class='w-full bg-half-primary rounded-t-md p-[1.1rem]'>
					<span class='presences-new-close leading-none float-right text-white cursor-pointer p-[0.25rem] text-[1.25rem] text-opacity-60 transition-colors duration-200 hover:text-opacity-100'>✕</span>
					<h1 class='font-semibold my-[0.25rem] text-[1.5rem] text-center'>Create a new Presence</h1>
					<p class='text-center text-white text-opacity-60 text-sm mx-[1rem]'>Ready to look cool? let's do it!</p>
					<h2 class='text-[0.8rem] font-medium text-white text-xs text-opacity-60 mt-[1rem] mb-[0.5rem]'>NAME <span class='text-danger font-extralight'>*</span></h2>
					<input id='presences-new-args-name' type='text' class='w-full p-[0.5rem] outline-none bg-half-tertiary rounded'>
					<h2 class='text-[0.8rem] font-medium text-white text-xs text-opacity-60 mt-[1rem] mb-[0.5rem]'>APPLICATION ID <span class='text-danger font-extralight'>*</span></h2>
					<input id='presences-new-args-id' type='number' class='w-full p-[0.5rem] outline-none bg-half-tertiary rounded'>
				</div>
				<div class='w-full bg-half-secondary rounded-b-md flex flex-row items-center gap-x-[0.5rem] py-[1rem] px-[1.1rem]'>
					<!--<button id='presences-new-help' class='min-w-max px-[1.25rem] py-[0.5rem] text-xs hover:underline outline-none'>Help</button>-->
					<div class='w-full'></div>
					<button class='presences-new-close min-w-max px-[1.4rem] py-[0.65rem] text-xs hover:underline outline-none'>Cancel</button>
					<button id='presences-new-create' class='bg-primary rounded box-border min-w-max px-[1.4rem] py-[0.65rem] outline-none font-medium text-xs transition-colors duration-200 hover:bg-primary-hover active:bg-primary-active'>Create</button>
				</div>
			</div>
			<div class='presences-new-close w-full h-full'></div>
		</div>
		<div class='presences-new-close w-full h-full'></div>
	</div>
	<script type='module' src='../scripts/presences.js'></script>
</body>