<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<title>Settings</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	<link href='../styles/style.css' rel='stylesheet'>
	<link href='../styles/output.css' rel='stylesheet'>
	<script>var exports = {};</script>
</head>

<body class='h-screen w-screen flex flex-row overflow-x-hidden bg-half-primary font-poppins text-white select-none'>
	<div id='main' class='h-full w-full max-w-[50rem] p-[2rem] box-border overflow-y-scroll bg-half-primary'>
		<h1 class='text-[2rem] font-semibold pb-[0.25rem]'>Settings</h1>
		<div class='flex flex-col divide-y-[2px] divide-solid divide-half-quaternary [&>div]:py-[1rem]'>
			<div>
				<h2 class='text-[0.8rem] font-semibold text-white text-opacity-60 pb-[0.5rem]'>SYSTEM STARTUP BEHAVIOR</h2>
				<div class='flex flex-row items-start'>
					<p class='min-w-max pb-[0.5rem]'>Open Aliis RPC Maker<span class='font-light text-xs text-danger ml-[0.25rem]'>TODO</span></p>
					<div class='w-full min-w[1rem]'></div>
					<input id='settings-options-startup' type='checkbox' class='inline-block appearance-none w-[2.75rem] h-[1.5rem] min-w-[2.75rem] outline-none rounded-full bg-half-seventy transition-colors duration-200 checked:bg-success cursor-pointer before:inline-block before:relative before:top-[0.2rem] before:left-[0.25rem] before:w-[1.1rem] before:h-[1.1rem] before:bg-white before:rounded-full before:transition-[left] before:duration-200 ease-in-out before:checked:left-[1.4rem]'>
				</div>
				<p class='text-[0.8rem] text-white text-opacity-60'>Save yourself a few clicks and let <b>Aliis RPC Maker</b> greet you on computer startup.</p>
			</div>
			<div>
				<div class='flex flex-row items-start'>
					<p class='min-w-max pb-[0.5rem]'>Start minimized<span class='font-light text-xs text-danger ml-[0.25rem]'>TODO</span></p>
					<div class='w-full min-w[1rem]'></div>
					<input id='settings-options-minimized' type='checkbox' class='inline-block appearance-none w-[2.75rem] h-[1.5rem] min-w-[2.75rem] outline-none rounded-full bg-half-seventy transition-colors duration-200 checked:bg-success cursor-pointer before:inline-block before:relative before:top-[0.2rem] before:left-[0.25rem] before:w-[1.1rem] before:h-[1.1rem] before:bg-white before:rounded-full before:transition-[left] before:duration-200 ease-in-out before:checked:left-[1.4rem]'>
				</div>
				<p class='text-[0.8rem] text-white text-opacity-60'><b>Aliis RPC Maker</b> starts in the background and remains out of your way.</p>
			</div>
			<div>
				<h2 class='text-[0.8rem] font-semibold text-white text-opacity-60'>TRANSPORT TYPE</h2>
				<p class='text-[0.8rem] text-white text-opacity-60'>Transport type for sharing data between <b>Discord</b> and <b>Aliis RPC Maker</b>.</p>
				<div class='form-check flex flex-row items-center gap-x-[0.25rem] pt-[0.25rem]'>
					<input id='settings-options-transport-ipc' name='settings-options-transport' value='ipc' type='radio' class='outline-none form-check-input appearance-none inline-block w-[1.5rem] h-[1.5rem] rounded-md border-[1px] border-white border-opacity-20 checked:bg-primary cursor-pointer'>
					<label class='form-check-label inline-block'>IPC<span class='text-[0.8rem] pl-[0.25rem] text-success text-opacity-80'>Recommended</span></label>
				</div>
				<div class='form-check flex flex-row items-center gap-x-[0.25rem] pt-[0.25rem]'>
					<input id='settings-options-transport-websocket' name='settings-options-transport' value='websocket' type='radio' class='outline-none form-check-input appearance-none inline-block w-[1.5rem] h-[1.5rem] rounded-md border-[1px] border-white border-opacity-20 checked:bg-primary cursor-pointer'>
					<label class='form-check-label inline-block'>WEBSOCKET</label>
				</div>
			</div>
		</div>
		<div id='settings-changed' class='flex flex-row flex-nowrap items-center gap-x-[1rem] box-border min-h-[2.75rem] w-[60%] min-w-[35rem] max-w-[50rem] p-[0.6rem] rounded-md fixed top-[100vh] text-sm bg-half-quinary shadow-[0_0_1.5em_#00000020]'>
			<span class='whitespace-nowrap text-white text-opacity-80'>Careful ― you have unsaved changes!</span>
			<div class='w-full'></div>
			<button id='settings-reset' class='text-white text-opacity-80 hover:underline outline-none'>Reset</button>
			<button id='settings-save' class='bg-success2 rounded box-border min-w-max px-[0.6rem] py-[0.4rem] outline-none text-sm tracking-tight text-center transition-colors duration-100 hover:bg-success2-hover active:bg-success2-active'>Save changes</button>
		</div>
	</div>
	<script src='../scripts/settings.js' type='module'></script>
</body>
